<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Charts | {artist.name}</title>
        <link rel="stylesheet" href="/scrobbles4j.css">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Start</a></li>
                <li><a href="/charts">Charts</a></li>
                <li>{artist.name}</li>
            </ul>
        </nav>

        <main>
            <h1>Artist summary</h1>
            {#if summary}
            <section>
                <h2>{artist.name}</h2>
                {#if image}
                    <div class="artist-image">
                        <img src="{image.get.src}" alt="Image of {artist.name}, from Wikimedia Commons">
                    </div>
                {/if}
                <p>{summary}</p>
                <p>Read more at: <a href="{artist.wikipediaLink}">{artist.wikipediaLink}</a></p>
            </section>
            {/if}
            <section>
                <h2 id="top-tracks">Top 20 Tracks by {artist.name}<sup>1{#if !includeCompilations}, 2{/if}</sup></sup></h2>
                <p>
                {#if includeCompilations}
                    <a href="?q={str:urlEncode(artist.name)}&includeCompilations=false">Exclude tracks from compilations</a>
                {#else}
                    <a href="?q={str:urlEncode(artist.name)}&includeCompilations=true">Include tracks from compilations</a>
                {/if}
                </p>
                {#if topTracks}
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Rank</th>
                            <th scope="col">Name</th>
                            <th scope="col">Number of times played</th>
                        </tr>
                    </thead>
                    <tbody>
                        {#let rankFormatter=inject:rankFormatter.get()}
                        {#for entry in topTracks}
                        <tr>
                            <th scope="row">{rankFormatter.format(entry.rank)}</th>
                            <td><a class="am" title="play" href="{sc:pushTrack(entry.artist, entry.name)}">▶️</a> <a class="am" title="queue" href="{sc:queueTrack(entry.artist, entry.name)}">📋</a> {entry.name}</td>
                            <td>{entry.cnt}</td>
                        </tr>
                        {/for}
                        {/let}
                    </tbody>
                </table>
                {/if}

                <p>
                    <sup>1</sup>Tracks are aggregated by artist and track name which means that potentially different versions of a track on different albums are counted together. A track must have been played at least 2 times to appear.<br />
                    <sup>2</sup>Compilations are excluded.
                </p>
            </section>

            {#if relatedArtists}
            <section>
                <h2 id="related-artist">Related artists</h2>
                <ul>
                    {#for artist in relatedArtists}
                        <li><span class="artist"><a href="/charts/artist?q={str:urlEncode(artist.name)}">{artist.name}</a></span></li>
                    {/for}
                </ul>
            </section>
            {/if}

            {#if albumsByArtists}
                <section>
                <h2 id="albums">Albums by or with {artist.name}</h2>
                <ul>
                {#for entry in albumsByArtists}
                    <li>
                    <span class="name">{entry.key.name}</span> (<span class="year">{entry.key.year}</span>)
                    {#for artist in entry.value}
                        {#if artist_isFirst}with{/if}
                        <span class="artist"><a href="/charts/artist?q={str:urlEncode(artist.name)}">{artist.name}</a></span>{#if !artist_isLast}, {/if}
                    {/for}
                    </li>
                {/for}
                </ul>
                </section>
            {/if}
        </main>
        <footer>
            <p>
                Powered by <a href="https://github.com/michael-simons/scrobbles4j">Scrobbles4j</a>
            </p>
        </footer>
    </body>
</html>