<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Charts</title>
        <link rel="stylesheet" href="/scrobbles4j.css">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Start</a></li>
                <li><a href="/charts">Charts</a></li>
            </ul>
        </nav>

        <main>
            <h2>Top 10 Tracks overall<sup>1, 2</sup></h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Rank</th>
                        <th scope="col">Artist</th>
                        <th scope="col">Name</th>
                        <th scope="col">Number of times played</th>
                    </tr>
                </thead>
                <tbody>
                    {#let rankFormatter=inject:rankFormatter.get()}
                    {#for entry in topTracks}
                    <tr>
                        <th scope="row">{rankFormatter.format(entry.rank)}</th>
                        <td><a href="/charts/artist?q={str:urlEncode(entry.artist)}">{entry.artist}</a></td>
                        <td>{entry.name}</td>
                        <td>{entry.cnt}</td>
                    </tr>
                    {/for}
                    {/let}
                </tbody>
            </table>

            <h2>Top 10 Albums overall<sup>1</sup></h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Rank</th>
                        <th scope="col">Artist</th>
                        <th scope="col">Name</th>
                    </tr>
                </thead>
                <tbody>
                    {#let rankFormatter=inject:rankFormatter.get()}
                    {#for entry in topAlbums}
                    <tr>
                        <th scope="row">{rankFormatter.format(entry.rank)}</th>
                        <td><a href="/charts/artist?q={str:urlEncode(entry.artist)}">{entry.artist}</a></td>
                        <td>{entry.name}</td>
                    </tr>
                    {/for}
                    {/let}
                </tbody>
            </table>

            <h2>Favorite artists per year in the last decade<sup>1, 3</sup></h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Artist</th>
                        <th scope="col">Rank</th>
                        <th scope="col">Change</th>
                    </tr>
                </thead>
                {#for year in favoriteArtists}
                <tbody class="one-of-many">
                    <tr>
                        <th colspan="3"><a href="/charts/{year.key}">{year.key}</a></th>
                    </tr>
                    {#let rankFormatter=inject:rankFormatter.get()}
                    {#for entry in year.value}
                    <tr>
                        <td><a href="/charts/artist?q={str:urlEncode(entry.name)}">{entry.name}</a></td>
                        <td>{rankFormatter.format(entry.rank)}</td>
                        <td>{entry.change}</td>
                    </tr>
                    {/for}
                    {/let}
                </tbody>
                {/for}
            </table>

            <p>
                <sup>1</sup>Compilations are excluded.<br />
                <sup>2</sup>Tracks are aggregated by artist and track name which means that potentially different versions of a track on different albums are counted together. A track must have been played at least 2 times to appear.<br />
                <sup>3</sup>Shown are the top {numArtists} artists per decade. An entry is considered new in a year when it didn't make that rank in the previous year.
            </p>
        </main>
        <footer>
            <p>
                Powered by <a href="https://github.com/michael-simons/scrobbles4j">Scrobbles4j</a>
            </p>
        </footer>
    </body>
</html>