<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Charts::Overview</title>
    </head>
    <body>
        <h2>Top 5 Tracks in {year}</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Rank</th>
                    <th scope="col">Artist</th>
                    <th scope="col">Name</th>
                    <th scope="col">Number of times played</th>
                </tr>
            </thead>
            <tbody>
                {#for entry in topTracks}
                <tr>
                    <th scope="row">{entry.rank}</th>
                    <td>{entry.artist}</td>
                    <td>{entry.name}</td>
                    <td>{entry.cnt}</td>
                </tr>
                {/for}
            </tbody>
        </table>

        <h2>Top 10 Albums in {year}</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Rank</th>
                    <th scope="col">Artist</th>
                    <th scope="col">Name</th>
                </tr>
            </thead>
            <tbody>
                {#for entry in topAlbums}
                <tr>
                    <th scope="row">{entry.rank}</th>
                    <td>{entry.artist}</td>
                    <td>{entry.name}</td>
                </tr>
                {/for}
            </tbody>
        </table>

        <h2>Top 10 Artists in {year}</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Rank</th>
                    <th scope="col">Name</th>
                </tr>
            </thead>
            <tbody>
                {#for entry in topArtists}
                <tr>
                    <th scope="row">{entry.rank}</th>
                    <td>{entry.name}</td>
                </tr>
                {/for}
            </tbody>
        </table>
    </body>
</html>