<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Charts | {year}</title>
        <link rel="stylesheet" href="/scrobbles4j.css">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Start</a></li>
                <li><a href="/charts">Charts</a></li>
                <li>{year}</li>
            </ul>
        </nav>

        <main>
            {#if !scrobbleStats.empty}
            <p>
                Scrobbled <strong>{scrobbleStats.numScrobbles}</strong> tracks in {year} for a total duration of
                {scrobbleStats.formattedTotalDuration}.
            </p>
            {/if}

            <h2>Top 5 Tracks in {year}<sup>1, 2</sup></h2>
            {#if topTracks.empty}
            <p>No data.</p>
            {#else}
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Rank</th>
                        <th scope="col">Artist</th>
                        <th scope="col">Name</th>
                        <th scope="col">Number of times played</th>
                    </tr>
                </thead>
                <tbody>
                    {#let rankFormatter=inject:rankFormatter.get()}
                    {#for entry in topTracks}
                    <tr>
                        <th scope="row">{rankFormatter.format(entry.rank)}</th>
                        <td><a href="/charts/artist?q={str:urlEncode(entry.artist)}">{entry.artist}</a></td>
                        <td>{entry.name}</td>
                        <td>{entry.cnt}</td>
                    </tr>
                    {/for}
                    {/let}
                </tbody>
            </table>
            {/if}

            <h2>Top 5 new Tracks in {year}<sup>1, 3</sup></h2>
            {#if topNewTracks.empty}
            <p>No data.</p>
            {#else}
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Rank</th>
                        <th scope="col">Artist</th>
                        <th scope="col">Name</th>
                        <th scope="col">Number of times played</th>
                    </tr>
                </thead>
                <tbody>
                    {#let rankFormatter=inject:rankFormatter.get()}
                    {#for entry in topNewTracks}
                    <tr>
                        <th scope="row">{rankFormatter.format(entry.rank)}</th>
                        <td><a href="/charts/artist?q={str:urlEncode(entry.artist)}">{entry.artist}</a></td>
                        <td>{entry.name}</td>
                        <td>{entry.cnt}</td>
                    </tr>
                    {/for}
                    {/let}
                </tbody>
            </table>
            {/if}

            <h2>Top 10 Albums in {year}<sup>1</sup></h2>
            {#if topAlbums.empty}
            <p>No data.</p>
            {#else}
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Rank</th>
                        <th scope="col">Artist</th>
                        <th scope="col">Name</th>
                    </tr>
                </thead>
                <tbody>
                    {#let rankFormatter=inject:rankFormatter.get()}
                    {#for entry in topAlbums}
                    <tr>
                        <th scope="row">{rankFormatter.format(entry.rank)}</th>
                        <td><a href="/charts/artist?q={str:urlEncode(entry.artist)}">{entry.artist}</a></td>
                        <td>{entry.name}</td>
                    </tr>
                    {/for}
                    {/let}
                </tbody>
            </table>
            {/if}

            <h2>Top 10 Artists in {year}<sup>1</sup></h2>
            {#if topArtists.empty}
            <p>No data.</p>
            {#else}
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Rank</th>
                        <th scope="col">Name</th>
                        <th scope="col">Change</th>
                    </tr>
                </thead>
                <tbody>
                    {#let rankFormatter=inject:rankFormatter.get()}
                    {#for entry in topArtists}
                    <tr>
                        <th scope="row">{rankFormatter.format(entry.rank)}</th>
                        <td><a href="/charts/artist?q={str:urlEncode(entry.name)}">{entry.name}</a></td>
                        <td>{entry.change}</td>
                    </tr>
                    {/for}
                    {/let}
                </tbody>
            </table>
            {/if}

            <p>
                <sup>1</sup>Compilations are excluded.<br />
                <sup>2</sup>Tracks are aggregated by artist and track name which means that potentially different versions of a track on different albums are counted together. A track must have been played at least 2 times to appear.<br />
                <sup>3</sup>Those are tracks that have been released and played the first time in {year}.
            </p>
        </main>
        <footer>
            <p>
                Powered by <a href="https://github.com/michael-simons/scrobbles4j">Scrobbles4j</a>
            </p>
        </footer>
    </body>
</html>