tbody:nth-child(odd) {
    background: #f5f5f5;
    border: solid 1px #ddd;
}

tbody:nth-child(even) {
    background: #e5e5e5;
    border: solid 1px #ddd;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0;
    padding: 0;
}

nav ul li:not(:last-child)::after {
    content: " | ";
}