tbody:nth-child(odd) {
    background: #f5f5f5;
    border: solid 1px #ddd;
}

tbody:nth-child(even) {
    background: #e5e5e5;
    border: solid 1px #ddd;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0;
    padding: 0;
}

nav ul li:not(:last-child)::after {
    content: " | ";
}

a.am {
    text-decoration: none;
    font-size: 0.5em;
    vertical-align: middle;
}

div.artist-image {
}

div.image-box > * {
    border: 1px solid lightgrey;
    border-radius: 5px;
    width: 320px;
    margin: 5px;
    padding: 5px;
}

div.image-box {
    max-width: 1280px;
    display: flex;
    flex-flow: row wrap;
    overflow-wrap: break-word;
}

div.artist-image img {
    max-width: 320px;
    height: 240px;
    object-fit: contain;
}