<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Scrobbles4j</title>
        <link rel="stylesheet" href="/scrobbles4j.css">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Start</a></li>
                <li><a href="/charts">Charts</a></li>
            </ul>
        </nav>

        <main>
            <h2>Latest scrobbles</h2>

            {#if lastScrobbles.empty }
            <p>Nothing has been scrobbled the last month.</p>
            {#else}
            <ol>
                {#for playedTrack in lastScrobbles}
                {#with playedTrack}
                <li>
                    <span class="track">"{track.name}"</span> by <span class="artist"><a href="/charts/artist?q={str:urlEncode(track.artist.name)}">{track.artist.name}</a></td></span> from
                    the album <span class="album">"{track.album}"</span>
                    at <span class="played-on">{playedOn.format('dd/MM/yyyy, HH:mm', locale, zone)}</span>
                </li>
                {/with}
                {/for}
            </ol>
            {/if}

            <p>
                First track scrobbled at <strong>{scrobbleStats.first.format('dd/MM/yyyy, HH:mm', locale, zone)}</strong>,
                latest at <strong>{scrobbleStats.latest.format('dd/MM/yyyy, HH:mm', locale, zone)}</strong>.
                In total, <strong>{scrobbleStats.numScrobbles}</strong> tracks have been scrobbled.
            </p>

            {#if !years.empty }
            <p>
                Have a look at the available years:
            </p>
            <nav>
                <ul>
                    {#for year in years}
                    <li><a href="/charts/{year.value}">{year.value}</a></li>
                    {/for}
                </ul>
            </nav>
            {/if}

        </main>
        <footer>
            <p>
                Powered by <a href="https://github.com/michael-simons/scrobbles4j">Scrobbles4j</a>
            </p>
        </footer>
    </body>
</html>
